{% extends 'layout.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <header>
          <h2>Categories</h2>
        </header>
        <ul>
          {% for category in categories %}
            <li>
              <a href="{{ url_for('category', category=category.name) }}">
              {{ category.name }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}