<!DOCTYPE html>
<html>
<head>
  <title>BreBoBa</title>
  <meta name="description" content="Brendon's Bodybuilding Bazaar">
  <meta name="author" content="Brendon Smith">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Favicon -->
  <link rel="icon" href="../static/img/favicon.png">
  <!-- For IE 9 and below. -->
  <!--[if IE]><link rel="shortcut icon" href="../static/img/favicon.ico"><![endif]-->
</head>
<body>
  <!-- Header -->
  <header class="container header">
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-dark rounded-bottom">
      <a class="navbar-brand h1" href="/">Brendon's Bodybuilding Bazaar</a>
      {% if 'username' in login_session %}
      <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('add_item') }}">Add item</a>
      <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('add_category') }}">Add category</a>
      <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('gdisconnect') }}">Logout</a>
      {% else %}
      <a class="btn btn-secondary btn-lg" role="button" href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </nav>
  </header>

  <!-- Main page content -->
  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <!-- Message flashing -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="flash">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
              {% for message in messages %}
              <li><strong> {{ message }} </strong></li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="container footer">
    <hr class="border border-secondary rounded">
    <div class="text-muted text-center">
      &copy;&nbsp; 2018 Brendon Smith |
      <a href="https://github.com/br3ndonland/udacity-fsnd-p4-flask-catalog">GitHub</a>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>