<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta name="description" content="Brendon's Bodybuilding Bazaar">
  <meta name="author" content="Brendon Smith">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <!-- Header -->
  <header class="container header">
    <!-- Navbar -->
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Brendon's Bodybuilding Bazaar</span>
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Categories</span></a>
        </li>
        {% if 'username' in login_session %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_item') }}">Add item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('add_category') }}">Add category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gdisconnect">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <!-- Main page content -->
  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <!-- Message flashing -->
  <div class="row">
    <div class="col">
      <div class="flash">
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
              {% for message in messages %}
              <li><strong> {{ message }} </strong></li>
              {% endfor %}
          </ul>
          {% endif %}
          {% endwith %}
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="container footer">
    <!-- TODO -->
  </footer>
  <!-- Bootstrap core JavaScript -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>