{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-5">
    <header>
      <h2 class="font-weight-light">{{ item.name }}</h2>
    </header>
  </div>
  <div class="col-sm-7">
    <article>
      <section>
        <img src="{{ item.photo }}" alt="Item photo" class="img-fluid rounded">
      </section>
      <section>
        {{ item.description }}
      </section>
      <section>
        <a class="btn btn-primary mt-1" role="button" href="{{ item.url }}">More information</a>
        <a class="btn btn-secondary mt-1" role="button" href="{{ url_for('show_category', category=item.category.name) }}">Back to {{ item.category.name }}</a>
        {% if item.user.email == current_user_email %}
        <a class="btn btn-secondary mt-1" role="button" href="{{ url_for('edit_item', category_name=item.category.name, item_name=item.name) }}">Edit</a>
        <a class="btn btn-secondary mt-1" role="button" href="{{ url_for('delete_item', category_name=item.category.name, item_name=item.name) }}">Delete</a>
        {% endif %}
      </section>
    </article>
  </div>
</div>
{% endblock %}