{% extends 'layout.html' %}
{% block content %}
<div class="row">
  <div class="col-sm-5">
    <header>
      <h2 class="font-weight-light">{{ item.name }}</h2>
    </header>
  </div>
  <div class="col-sm-7">
    <article>
      <section>
        <img src="{{ item.photo_url }}" alt="Item photo" class="img-fluid rounded">
      </section>
      <section>
        {{ item.description }}
      </section>
      <section>
        <a href="{{ url_for('show_item_json', category=category.name, item=item.name) }}"><em>Show {{ item.name }} JSON</em></a>
      </section>
      <section>
        <div>
          <a class="btn btn-primary mt-1" role="button" href="{{ item.url }}">More information</a>
          <a class="btn btn-secondary mt-1" role="button" href="{{ url_for('show_category', category=item.category.name) }}">Back to {{ item.category.name }}</a>
        </div>
        {% if login_status %}
          <div>
            <a class="btn btn-warning mt-1" role="button" href="{{ url_for('edit_item', category=item.category.name, item=item.name) }}">Edit</a>
            <a class="btn btn-danger mt-1" role="button" href="{{ url_for('delete_item', category=item.category.name, item=item.name) }}">Delete</a>
          </div>
        {% endif %}
      </section>
    </article>
  </div>
</div>
{% endblock %}